/* Header */
header {
    box-shadow: var(--shadow-1);
    color: var(--color-light-1);
}

.left-nav, .right-nav {
    width: 25%;
}

.middle-nav, .right-nav {
    color: var(--color-light-1);
}

.left-nav .logo {
    color: var(--primary-1);
    font-size: 2.5rem;
}

.left-nav .input-search {
    border-radius: 2rem !important;
}

.middle-nav {
    width: 50%;
}

.middle-nav > a {
    padding: 1rem 4.5rem;
    font-size: 1.4rem;
    margin: .25rem;
}

.right-nav > a {
    margin: 0 .25rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-light-1);
}

/* Content */
.content-area {
    background: var(--gray-light);
}

.left-content, .right-content {
    width: 25%;
}

.main-content {
    width: 50%;
}

.card .card-img-top {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important; 
}

.card .card-top {
    padding: 1rem;
}

.card .card-top input {
    width: calc(100% - 50px);
    border-radius: 2rem;
    word-wrap: break-word;
    word-break: break-all;
}

.card .card-top input::placeholder {
    color: var(--color-light-3);
}

.card .card-body .action {
    font-size: 1.1rem;
}

.card .card-body .action a {
    display: inline-flex;
    align-items: center;
}

.card .card-body .action span {
    margin-left: .25rem;
}