/* Header */
header {
    box-shadow: var(--shadow-1);
    color: var(--color-light-1);
}

.left-nav,
.right-nav {
    width: 25%;
}

.middle-nav,
.right-nav {
    color: var(--color-light-1);
}

.left-nav .logo {
    color: var(--primary-1);
    font-size: 2.5rem;
}

.left-nav .input-search {
    border-radius: 2rem !important;
    background: var(--bg-light-1);
}

.middle-nav {
    width: 50%;
}

.middle-nav .navigate {
    padding: 1rem 4.5rem;
    font-size: 1.4rem;
    margin: .25rem;
    position: relative;
}

.middle-nav .navigate:hover,
.middle-nav .navigate.active {
    color: var(--primary-1);
}

.middle-nav .navigate.active::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: var(--primary-1);
    border-radius: 5px;
}

.right-nav > *, .right-nav .account button {
    margin: 0 .25rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    background: var(--bg-light-1);
}

.right-nav .account .dropdown-menu {
    padding: 1rem;
    border-radius: var(--border-radius-2);
    min-width: 15rem;
}

.right-nav .account .dropdown-item {
    padding: .5rem 1rem;
    border-radius: var(--border-radius-2);
}

.right-nav .account .profile img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.right-nav .account .profile .username {
    margin-left: 1rem;
}

/* Content */
.content-area {
    background: var(--gray-light);
}

.left-content,
.right-content {
    width: 25%;
}

/* Left content */

/* Func */

.left-content ul li a {
    border-radius: var(--border-radius-2);
}

ul.func li a,
.shortcuts a.shortcut-item {
    display: flex;
    align-items: center;
}

ul.func li a span,
.shortcuts a.shortcut-item span {
    margin-left: 1rem;
    font-weight: 600;
}

ul.func a.func-item i {
    font-size: 1.6rem;
    width: 40px;
    text-align: center;
    margin: auto 0;
}

ul.func a {
    padding: .8rem .5rem;
    margin: 0 -.5rem;
}


ul.func a:hover,
.shortcuts a.shortcut-item:hover {
    background: var(--bg-light-1);
}

/* Shortcuts */
.shortcuts .title {
    color: var(--color-light-4);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.shortcuts a.shortcut-item {
    padding: .4rem .5rem;
    margin: .25rem -.5rem;
}

.shortcuts a.shortcut-item .card-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 25% !important;
}

/* Main content */
.main-content {
    width: 50%;
}

.main-content .card {
    margin: 1rem auto;
    width: 80%;
}

.card .card-img-top,
.user .card-img-top {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.card .card-top {
    padding: 1rem;
}

.card .card-top a.text {
    width: calc(100% - 50px);
    cursor: pointer;
}

.card .card-top input {
    width: 100%;
    border-radius: 2rem;
    word-wrap: break-word;
    word-break: break-all;
    cursor: pointer;
}

.card .card-top input::placeholder {
    color: var(--color-light-3);
}

.card .card-body .action {
    font-size: 1rem;
}

.card.upload-post .card-body {
    padding: .5rem 0;
}

.card .card-body .action a {
    display: inline-flex;
    align-items: center;
    padding: .6rem .8rem;
}

.card .card-body .action a:hover {
    background: var(--bg-light-1);
    border-radius: var(--border-radius-2);
}

.card .card-body .action span {
    margin-left: .25rem;
}

.card .count,
.card .action {
    margin: 0 2rem;
}

/* Post detail */
.post-detail .author .name {
    font-size: 1.1rem;
    font-weight: 600;
}

.post-detail .author .name:hover {
    text-decoration: underline;
}

.post-detail .author .upload-time {
    font-size: .9rem;
}

.post-detail .card-body {
    padding: .5rem 1rem;
}

.post-detail .card-body .file-upload {
    margin: 0 -1rem;
}

.post-detail .count {
    padding: .5rem 0;
}

.post-detail .action .action-item {
    width: 30%;
    text-align: center;
    padding: 1rem 0;
}

/* Right content */

.invite-friend .title,
.contact .title {
    color: var(--color-light-4);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.invite-friend .item {
    padding: .65rem;
}

.invite-friend .item:hover {
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

.invite-friend .represent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invite-friend .represent .card-img {
    width: 60px;
    height: 60px;
    border-radius: 50% !important;
}

.invite-friend .represent .detail {
    width: calc(100% - 80px);
}

.represent .detail .name {
    font-weight: 600;
}

.represent .detail .time {
    font-size: .875rem;
}

.represent .detail .mutual {
    font-size: .875rem;
}

.represent .detail .mutual .card-img {
    width: 20px;
    height: 20px;
    border-radius: 50% !important;
}

.invite-friend .action {
    margin-left: calc(.5rem + 80px);
}

.invite-friend .action button {
    min-width: 120px;
}

.invite-friend .action button.accept {
    background-color: var(--primary-1);
    color: var(--light);
}

.invite-friend .action button.reject {
    background-color: var(--bg-light-3);
    color: var(--dark);
}

/* Contact */
.contact .title {
    color: var(--color-light-4);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.contact a.user-item {
    padding: .4rem .5rem;
    margin: .25rem -.5rem;
    display: flex;
    align-items: center;
}

.contact a.user-item:hover {
    background: var(--bg-light-1);
    border-radius: var(--border-radius-2);
}

.contact a.user-item .card-img {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
}

.contact a.user-item span {
    margin-left: 1rem;
    font-weight: 600;
}

/* Modal */
.modal .modal-dialog {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header .modal-title {
    font-weight: 600;
}

.modal-body .user {
    display: flex;
    align-items: center;
}

.modal-body .user .author {
    margin-top: -.25rem;
    margin-left: .5rem;
}

.modal-body .user .status {
    margin-top: .25rem;
    font-size: .8rem;
}

.modal-body .user .status button {
    padding: .25rem .5rem;
}

.modal-body .user .status .dropdown-menu {
    font-size: .8rem;
    min-width: 7rem;
}

.modal-body .post-body .content {
    border: none;
    outline: none;
}

.modal-body .post-body .custom-scrollbar {
    height: 40vh;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}

.modal-body .custom-scrollbar .post-title input {
    cursor: text;
    background: transparent;
    padding: .5rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.modal-body .custom-scrollbar .post-title input::placeholder {
    font-weight: 400;
}

.modal-body .post-body .custom-scrollbar textarea {
    width: 100%;
    height: 99%;
    resize: none;
    padding: 8px;
    background-color: transparent;
    margin-top: .5rem;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border-radius: var(--border-radius-2) !important;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}


.modal-body .post-body .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.modal-body .post-body .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
}

.modal-footer .btn-add-file {
    width: 35%;
    background-color: var(--bg-light-1);
}

.modal-footer .btn-upload {
    width: 60%;
}

/* Login - Logout - Register */
.login-area, .register-area {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--gray-light);
}

.login-area .wrapper, .register-area .wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    box-shadow: var(--shadow-2);
    border-radius: var(--border-radius-2);
    padding: 1rem;
}

.login-area .wrapper .title, .register-area .wrapper .title {
    font-size: 2rem;
}

.form-login > input, .form-login .btn-login, 
.form-register > input {
    margin-bottom: 1rem;
    min-width: 400px;
    padding: .8rem 1rem;
    border-radius: var(--border-radius-1);
}

.form-register .btn-register {
    width: 58%;
    padding: .8rem 1rem;
    border-radius: var(--border-radius-1);
}

.form-login > input, .form-register > input {
    background-color: transparent;
    border: 1px solid var(--border-color-1) !important;
}

.form-login .btn-login,
.form-register .btn-register {
    background-color: var(--primary-1);
    color: var(--light);
    font-weight: 600;
}

.form-login .forgot-password:hover {
    text-decoration: underline;
}

.login-area .btn-register {
    background-color: var(--bg-green);
    color: var(--light);
    padding: .8rem 2.5rem;
    margin: .5rem 0;
    display: inline-block;
    border-radius: var(--border-radius-1);
    font-weight: 600;
}

.register-area .btn-login {
    background-color: var(--bg-green);
    color: var(--light);
    padding: .8rem 1rem;
    margin: .5rem 0;
    display: inline-block;
    border-radius: var(--border-radius-1);
    font-weight: 600;
    width: 40%;
}